.app,
.note-page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 179, 255);
}

.note-page {
	justify-content: flex-start;
}

.sign-up-container {
	background-color: #ffffff;
	width: 400px;
	padding: 20px;
	padding-bottom: 40px;
	border-radius: 20px;
}

.signup-form {
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.note-component {
	display: flex;
	width: 500px;
	gap: 50px;
	margin-top: 20px;
}

.note-title {
	display: flex;
	gap: 5px;
}

.note-box {
	width: 400px;
	background-color: #ffffff;
	padding: 10px;
	margin-bottom: 20px;
}
